@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::before ::after {
  box-sizing: inherit;
}

.html {
  font-size: 16px;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: #222222;
  font-family: "Space Grotesk", sans-serif;
  color: #ffffff;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar h3 {
  font-size: 1.5rem;
  color: #ffffff;
  padding: 1.5rem 0 1rem 0;
}
.navbar .social-links {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
}
.navbar .social-links a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  transition: transform 0.3s ease-in-out;
}
.navbar .social-links a:hover {
  transform: translateY(5px);
  color: #4ee1a0;
}

@media only screen and (min-width: 768px) {
  .navbar {
    padding: 0 2rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .navbar .social-links {
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 1000px) {
  .navbar {
    padding: 0 4rem;
  }
}
.profile-container {
  width: 100vw;
  overflow-x: hidden;
}
.profile-container .profile_photo {
  display: flex;
  justify-content: center;
}
.profile-container .profile_photo .photo {
  width: 10rem;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  .profile-container .profile_photo .photo {
    width: 70%;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 1000px) {
  .profile-container .profile_photo .photo {
    width: 50%;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  padding-bottom: 2rem;
  text-align: center;
  overflow-x: hidden;
}
@media only screen and (min-width: 768px) {
  .hero {
    align-items: flex-start;
    text-align: left;
  }
}
.hero .hero-title {
  width: 14ch;
  font-size: clamp(2rem, 0.2rem + 5vw, 2.5rem);
}
.hero .hero-title span {
  text-decoration: none;
}
.hero .hero-title span::after {
  content: "";
  display: block;
  width: 11.2rem;
  margin-left: 4.9rem;
  margin-top: -0.4rem;
  border-bottom: 0.2em solid #4ee1a0;
}
@media only screen and (min-width: 768px) {
  .hero .hero-title span::after {
    width: 14rem;
    margin-left: 4.3rem;
  }
}
.hero .hero-text {
  color: #D9D9D9;
  padding: 1.5rem 0;
  line-height: 1.625rem;
  text-align: justify;
}

.contact-btn {
  display: flex;
}
.contact-btn .contact-me {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.contact-btn .contact-me::after {
  content: "";
  display: block;
  width: 7rem;
  margin-top: 0.5rem;
  border-bottom: 0.15em solid #4ee1a0;
}
.contact-btn .contact-me:hover {
  color: #4ee1a0;
  cursor: pointer;
}

.hero-section {
  position: relative;
  overflow-x: hidden;
}
.hero-section .hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 1.1rem 1rem 1.1rem;
}
@media only screen and (min-width: 768px) {
  .hero-section .hero-container {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 2rem 1rem 2rem;
  }
}
@media only screen and (min-width: 1000px) {
  .hero-section .hero-container {
    margin: 0 4rem 1rem 4rem;
  }
}
.hero-section .hero-container .bottom-border {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 1.1rem;
  padding-top: 1.5rem;
  border-bottom: 1.5px solid #ffffff;
}
@media only screen and (min-width: 768px) {
  .hero-section .hero-container .bottom-border {
    margin: 0 2rem;
  }
}
@media only screen and (min-width: 1000px) {
  .hero-section .hero-container .bottom-border {
    margin: 0 4rem;
  }
}
.hero-section .rings {
  position: absolute;
  top: 0;
  left: -21rem;
  z-index: 0;
}
.hero-section .circle {
  position: absolute;
  top: 5rem;
  right: -3.6rem;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  .hero-section .circle {
    right: -2.9rem;
    top: 10.7rem;
  }
}
@media only screen and (min-width: 1000px) {
  .hero-section .circle {
    right: 4rem;
  }
}

.skills-container {
  padding: 0 1.1rem 4rem 1.1rem;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}
@media only screen and (min-width: 768px) {
  .skills-container {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
  }
}
@media only screen and (min-width: 1000px) {
  .skills-container {
    grid-template-columns: repeat(3, 0.5fr);
  }
}
.skills-container .skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}
.skills-container .skills h1 {
  font-size: 2rem;
  margin-bottom: 0.3rem;
}
.skills-container .skills p {
  font-weight: 600;
  color: #D9D9D9;
}
.skills-container .bottom-border {
  display: block;
  position: absolute;
  margin: 0 1.1rem;
  bottom: 4rem;
  width: 91%;
  border-bottom: 1.5px solid #ffffff;
}
@media only screen and (min-width: 768px) {
  .skills-container .bottom-border {
    width: 91.6%;
    margin: 0 2rem;
  }
}
@media only screen and (min-width: 1000px) {
  .skills-container .bottom-border {
    width: 87.5%;
    margin: 0 4rem;
  }
}

.skill-rings {
  position: absolute;
  bottom: 0;
  right: -23.5rem;
}

.projects {
  padding: 0 1.1rem 2rem 1.1rem;
  overflow-x: hidden;
}
@media only screen and (min-width: 768px) {
  .projects {
    padding: 0 2rem 2rem 2rem;
  }
}
@media only screen and (min-width: 1000px) {
  .projects {
    padding: 0 4rem 2rem 4rem;
  }
}
.projects .projects-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.projects .projects-heading h2 {
  font-size: 2.5rem;
}
.projects .projects-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media only screen and (min-width: 768px) {
  .projects .projects-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
  }
}
.projects .projects-grid .projects-main {
  padding-top: 1.5rem;
}
.projects .projects-grid .projects-main img {
  width: 100%;
  margin-bottom: 0.8rem;
}
.projects .projects-grid .projects-main h2 {
  padding: 0.5rem 0;
  font-size: 1.5rem;
}
.projects .projects-grid .projects-main p {
  color: #D9D9D9;
  padding-bottom: 1rem;
  word-spacing: 0.8rem;
}
.projects .projects-grid .projects-main .project-links {
  margin-bottom: 0.5rem;
  display: flex;
  gap: 1.5rem;
}
.projects .projects-grid .projects-main .project-links .live-view {
  text-decoration: none;
  color: #ffffff;
}
.projects .projects-grid .projects-main .project-links .live-view::after {
  content: "";
  display: block;
  margin-top: 0.4rem;
  width: 6.9rem;
  border-bottom: 2px solid #4ee1a0;
}
.projects .projects-grid .projects-main .project-links .live-view:hover {
  color: #4ee1a0;
  cursor: pointer;
}
.projects .projects-grid .projects-main .project-links .source-view {
  text-decoration: none;
  color: #ffffff;
}
.projects .projects-grid .projects-main .project-links .source-view::after {
  content: "";
  display: block;
  margin-top: 0.4rem;
  width: 5.2rem;
  border-bottom: 2px solid #4ee1a0;
}
.projects .projects-grid .projects-main .project-links .source-view:hover {
  color: #4ee1a0;
  cursor: pointer;
}

.form-container {
  background-color: rgba(217, 217, 217, 0.1);
  position: relative;
}
.form-container .contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1.1rem 0 1.1rem;
}
@media only screen and (min-width: 768px) {
  .form-container .contact-form {
    width: 55%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1000px) {
  .form-container .contact-form {
    width: 100%;
    margin: 0;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 4rem;
    padding: 2rem 4rem 0 4rem;
  }
}
.form-container .contact-form .form-heading h2 {
  font-size: clamp(2.5rem, 0.5rem + 0.5vw, 3.5rem);
}
.form-container .contact-form .form-heading p {
  text-align: center;
  color: #D9D9D9;
}
@media only screen and (min-width: 1000px) {
  .form-container .contact-form .form-heading {
    margin-top: 1.5rem;
  }
  .form-container .contact-form .form-heading p {
    text-align: left;
    width: 39ch;
  }
}
.form-container .contact-form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  padding-bottom: 3.5rem;
}
.form-container .contact-form form #name,
.form-container .contact-form form #email,
.form-container .contact-form form #message {
  width: 100%;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  padding: 0 0 1rem 1.5rem;
}
.form-container .contact-form form #name:focus,
.form-container .contact-form form #email:focus,
.form-container .contact-form form #message:focus {
  outline: none;
  border-bottom: 1px solid #4ee1a0;
}
.form-container .contact-form form #message {
  margin-top: 0.5rem;
  resize: none;
}
.form-container .contact-form form .form-btn {
  align-self: flex-end;
  border: none;
  border-radius: 0;
  background-color: transparent;
  color: #ffffff;
  padding: 0;
  padding-bottom: 1rem;
}
.form-container .contact-form form .form-btn::after {
  content: "";
  display: block;
  width: 7.3rem;
  margin-top: 0.5rem;
  border-bottom: 2px solid #4ee1a0;
}
.form-container .contact-form form .form-btn:hover {
  color: #4ee1a0;
}
.form-container .form-rings {
  position: absolute;
  bottom: 1.5rem;
  left: -21.2rem;
}
.form-container .bottom-border {
  margin: 0 1.1rem;
  padding-top: 1.5rem;
  border-bottom: 1.5px solid #ffffff;
}
@media only screen and (min-width: 768px) {
  .form-container .bottom-border {
    margin: 0 2rem;
  }
}
@media only screen and (min-width: 1000px) {
  .form-container .bottom-border {
    margin: 0 4rem;
  }
}

footer {
  background-color: rgba(217, 217, 217, 0.1);
  padding: 1rem 0;
}/*# sourceMappingURL=App.css.map */