@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600&display=swap');


$main-black-color: #222222;
$main-white-color: #ffffff;
$underline-green: #4ee1a0;
$text-opacity: 0.9;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &::before ::after {
    box-sizing: inherit;
  }
}

.html {
  font-size: 16px;
}



body {
  background-color: rgba($main-black-color, $text-opacity);
  width: 100vw;
  min-height: 100vh;
  font-family: 'Space Grotesk', sans-serif;
  color: $main-white-color;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    font-size: 1.5rem;
    color: $main-white-color;
    padding: 1.5rem 0 1rem 0;
  }

  .social-links {
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;

    a {
      text-decoration: none;
      color: $main-white-color;
      font-size: 1.5rem;
    }
  }
}

.profile-container {
  position: relative;

  .profile_photo {
    display: flex;
    justify-content: center;

    .photo {
      width: 10rem;
      z-index: 1;
    }

  }

  .rings {
    position: absolute;
    top: 0;
    right: 9.2rem;
    z-index: 0;
  }

  .circle {
    position: absolute;
    bottom: 0rem;
    left: 16.5rem;
    z-index: 0;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    width: 14ch;
    text-align: center;

    span {
      text-decoration: none;

      &::after {
        content: "";
        display: block;
        width: 8.7rem;
        margin-left: 3.65rem;
        margin-top: -0.4rem;
        border-bottom: 0.2em solid $underline-green;
      }
    }
  }
}